.qw{
    border: solid;
    width: 550px;
    height: 550px;
    border-color: #b4b4b4;
     
       padding-top: 134px;
        padding-left: 134px;
        color: #808080;

        .we{
             color: black;
        }
           
        }   

